# DataEng: Data Integration Activity

Name: Karan Patel

In [1]:
import pandas as pd
import numpy as np

## Aggregate Census Data to County Level

Create a python program that produces a __one-row-per-county__ version of the ACS data set. To do this you will need to think about how to properly aggregate Census Tract-level data into County-level summaries. 

In this step you can also eliminate unneeded columns from the ACS data.

In [2]:
original_acs_df = pd.read_csv('./data/acs2017_census_tract_data.csv.gz', usecols=['State', 'County', 'TotalPop', 'IncomePerCap', 'Poverty'])
display(original_acs_df.head())

     State          County  TotalPop  IncomePerCap  Poverty
0  Alabama  Autauga County      1845       33018.0     10.7
1  Alabama  Autauga County      2172       18996.0     22.4
2  Alabama  Autauga County      3385       21236.0     14.7
3  Alabama  Autauga County      4267       28068.0      2.3
4  Alabama  Autauga County      9965       36905.0     12.2

__Question__: Show your aggregated county-level data rows for the following counties: Loudoun County Virginia, Washington County Oregon, Harlan County Kentucky, Malheur County oregon

__Answer__: See output from code block below.

In [3]:
def acs_data_county_aggregator(df):
    total_pop = df['TotalPop'].sum()
    
    data = {'TotalPop': total_pop.astype(int),
            'IncomePerCap': ((df['IncomePerCap'] * df['TotalPop']).sum() / total_pop).round(2),
            'Poverty': ((df['Poverty'] * df['TotalPop']).sum() / total_pop).round(2)
            }
    return pd.Series(data)

acs_df = original_acs_df.groupby(['State', 'County']).apply(acs_data_county_aggregator).reset_index()

def get_criteria(county, state, df):
    return (df.County == county) & (df.State == state)

display(acs_df[get_criteria('Loudoun County', 'Virginia', acs_df)])
display(acs_df[get_criteria('Washington County', 'Oregon', acs_df)])
display(acs_df[get_criteria('Harlan County', 'Kentucky', acs_df)])
display(acs_df[get_criteria('Malheur County', 'Oregon', acs_df)])

         State          County  TotalPop  IncomePerCap  Poverty
2968  Virginia  Loudoun County  374558.0      50455.65     3.69

       State             County  TotalPop  IncomePerCap  Poverty
2241  Oregon  Washington County  572071.0      35369.05    10.32

         State         County  TotalPop  IncomePerCap  Poverty
1040  Kentucky  Harlan County   27548.0      15456.97    35.67

       State          County  TotalPop  IncomePerCap  Poverty
2230  Oregon  Malheur County   30421.0       17567.5     24.3

## Simplify the COVID Data

Simplify the COVID data along the time dimension. The COVID data set contains day-level resolution data from (approximately) March of 2020 through February of 2021. However, you will only need four data points per county: total cases, total deaths, cases reported during December of 2020 and deaths reported during December 2020. 

Create a python program that reduces the COVID data to one line per county.

In [4]:
original_covid_df = pd.read_csv('./data/COVID_county_data.csv.gz', parse_dates=['date'])
display(original_covid_df.head())

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

__Question__: Show your simplified COVID data for the counties listed above. 

__Answer:__

In [18]:
def covid_data_county_aggregator(df):
    data = {'total-cases': df['cases'].sum().astype(int),
            'total-deaths': df['deaths'].sum().astype(int),
            'cases-dec-2020': df[df['date'].between('12-1-2020', '12-31-2020')]['cases'].sum().astype(int),
            'deaths-dec-2020': df[df['date'].between('12-1-2020', '12-31-2020')]['deaths'].sum().astype(int)
            }
    return pd.Series(data)

covid_df = original_covid_df.groupby(['state', 'county']).apply(covid_data_county_aggregator).reset_index()

def get_criteria(county, state, df):
    return (df.county == county) & (df.state == state)

display(covid_df[get_criteria('Loudoun', 'Virginia', covid_df)])
display(covid_df[get_criteria('Washington', 'Oregon', covid_df)])
display(covid_df[get_criteria('Harlan', 'Kentucky', covid_df)])
display(covid_df[get_criteria('Malheur', 'Oregon', covid_df)])

,state,county,total-cases,total-deaths,cases-dec-2020,deaths-dec-2020
3017,Virginia,Loudoun,2496450,35820,376223,4729

,state,county,total-cases,total-deaths,cases-dec-2020,deaths-dec-2020
2277,Oregon,Washington,2157339,22455,424620,3860

,state,county,total-cases,total-deaths,cases-dec-2020,deaths-dec-2020
1054,Kentucky,Harlan,205984,3994,38959,506

,state,county,total-cases,total-deaths,cases-dec-2020,deaths-dec-2020
2265,Oregon,Malheur,453634,7770,82916,1465

## Integrate COVID Data with ACS Data

Create a single pandas DataFrame containing one row per county and using the columns described above. You are free to add additional columns if needed. For example, you might want to normalize all of the COVID data by the population of each county so that you have a consistent “number of cases/deaths per 100000 residents” value for each county.

__Question:__ List your integrated data for all counties in the State of Oregon.

__Answer__:

In [6]:
acs_df_or = acs_df[acs_df.State == 'Oregon']
acs_df_or['County'] = acs_df_or['County'].str.replace(' County', '')

covid_df_or = covid_df[covid_df.state == 'Oregon']

or_df = pd.merge(acs_df_or, covid_df_or, left_on = ['State', 'County'], right_on = ['state', 'county'])

or_df = or_df.drop(columns=['state'])
or_df = or_df.drop(columns=['county'])

display(or_df)

<ipython-input-6-1ec1bf73f918>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acs_df_or['County'] = acs_df_or['County'].str.replace(' County', '')

,State,County,TotalPop,IncomePerCap,Poverty,total-cases,total-deaths,cases-dec-2020,deaths-dec-2020
0,Oregon,Baker,15980.0,25820.27,15.08,55586,663,11688,133
1,Oregon,Benton,88249.0,30872.82,22.42,180225,2304,34260,278
2,Oregon,Clackamas,399962.0,37550.85,8.98,1284402,20040,261810,3125
3,Oregon,Clatsop,38021.0,28114.63,12.19,77666,287,14439,47
4,Oregon,Columbia,50207.0,28459.69,12.32,105324,1363,21459,266
5,Oregon,Coos,62921.0,26007.21,17.90,100097,969,18806,151
6,Oregon,Crook,21717.0,24238.81,15.32,55863,1134,11048,196
7,Oregon,Curry,22377.0,26925.54,15.41,30045,393,6741,72
8,Oregon,Deschutes,175321.0,31574.93,12.10,509974,4141,102490,563
9,Oregon,Douglas,107576.0,25001.73,17.03,174952,3983,37590,964
10,Oregon,Gilliam,1910.0,24178.00,9.90,4691,76,898,25
11,Oregon,Grant,7209.0,25154.16,13.64,18551,94,4895,31
12,Oregon,Harney,7195.0,24397.71,17.53,17024,291,3717,34
13,Oregon,Hood River,22938.0,29594.97,12.12,107383,1444,19348,216
14,Oregon,Jackson,212070.0,27080.54,16.86,713288,7221,154535,1655
15,Oregon,Jefferson,22707.0,22956.84,20.69,200346,2630,36278,409
16,Oregon,Josephine,84514.0,24348.61,18.65,153675,2638,27180,407
17,Oregon,Klamath,66018.0,23793.07,18.69,224256,2857,45118,373
18,Oregon,Lake,7807.0,21004.59,20.14,25357,348,5358,76
19,Oregon,Lane,363471.0,27032.41,19.23,850956,10372,178816,2215
20,Oregon,Lincoln,47307.0,25782.11,18.38,153979,3117,24041,502
21,Oregon,Linn,121074.0,24448.47,16.06,324636,5949,66702,891
22,Oregon,Malheur,30421.0,17567.50,24.30,453634,7770,82916,1465
23,Oregon,Marion,330453.0,24791.07,16.13,1974030,34089,365801,5720
24,Oregon,Morrow,11153.0,21742.93,14.70,139209,1447,23219,227
25,Oregon,Multnomah,788459.0,34848.17,16.47,3374737,58787,680418,10244
26,Oregon,Polk,79666.0,25928.36,15.64,268036,5480,50986,743
27,Oregon,Sherman,1635.0,34226.00,13.70,5807,0,855,0
28,Oregon,Tillamook,25840.0,25458.19,15.51,34370,92,6850,0
29,Oregon,Umatilla,76736.0,22153.24,17.83,933975,10661,154995,1645
30,Oregon,Union,25810.0,26585.73,17.62,161223,1533,28227,338
31,Oregon,Wallowa,6864.0,26897.39,13.75,13017,449,2306,93
32,Oregon,Wasco,25687.0,24727.51,13.67,121202,3039,22511,621
33,Oregon,Washington,572071.0,35369.05,10.32,2157339,22455,424620,3860
34,Oregon,Wheeler,1415.0,21268.00,20.60,1454,53,359,2
35,Oregon,Yamhill,102366.0,28539.60,13.80,356425,6010,69481,812

## Analysis

For each of the following, determine the strength of the correlation between each pair of variables. Compute the correlation strength by calculating the Pearson correlation coefficient R for pairs of columns in your DataFrame. For example, if you have a DataFrame df with each row representing a distinct county, and columns named ‘TotalCases’ and ‘Poverty’, then you can compute R like this:

> R = df[‘TotalCases’].corr(df[‘Poverty’])

For any R that is > 0.5 or < -0.5 also display a scatter plot (see pandas scatterplot and seaborn documentation for information about how to display scatter plots from DataFrame data).

The COVID numbers should be normalized to population (# of cases per 100,000 residents) so that different sized counties are comparable. So for example, “COVID total cases” below really means “((COVID total cases in county * 100000) / population of county)”.

Across all of the counties in the State of Oregon:
* COVID total cases vs. % population in poverty

In [7]:
total_cases = (or_df['total-cases'] * 100000) / or_df['TotalPop']

r = total_cases.corr(or_df['Poverty'])
print(f'r = {r}')

r = 0.2870979669130601

* COVID total deaths vs. % population in poverty

In [8]:
total_deaths = (or_df['total-deaths'] * 100000) / or_df['TotalPop']

r = total_deaths.corr(or_df['Poverty'])
print(f'r = {r}')

r = 0.3605381417925185

* COVID total cases vs. Per Capita Income level

In [9]:
total_cases = (or_df['total-cases'] * 100000) / or_df['TotalPop']

r = total_cases.corr(or_df['IncomePerCap'])
print(f'r = {r}')

r = -0.37568496125710993

* COVID total deaths vs. Per Capita Income level

In [10]:
total_deaths = (or_df['total-deaths'] * 100000) / or_df['TotalPop']

r = total_deaths.corr(or_df['IncomePerCap'])
print(f'r = {r}')

r = -0.46186658814724785

* COVID cases during December 2020 vs. % population in poverty

In [11]:
total_cases = (or_df['cases-dec-2020'] * 100000) / or_df['TotalPop']

r = total_cases.corr(or_df['Poverty'])
print(f'r = {r}')

r = 0.2981575324663765

* COVID deaths during December 2020 vs. % population in poverty

In [12]:
total_deaths = (or_df['deaths-dec-2020'] * 100000) / or_df['TotalPop']

r = total_deaths.corr(or_df['Poverty'])
print(f'r = {r}')

r = 0.30275469931451643

* COVID cases during December 2020 vs. Per Capita Income level

In [13]:
total_cases = (or_df['cases-dec-2020'] * 100000) / or_df['TotalPop']

r = total_cases.corr(or_df['IncomePerCap'])
print(f'r = {r}')

r = -0.3853971317908648

__Across all of the counties in the entire USA__

In [14]:
# create df for all us counties 
acs_df['County'] = acs_df['County'].str.replace(' County', '')

us_df = pd.merge(acs_df, covid_df, left_on = ['State', 'County'], right_on = ['state', 'county'])
us_df = us_df.drop(columns=['state'])
us_df = us_df.drop(columns=['county'])
display(us_df)

,State,County,TotalPop,IncomePerCap,Poverty,total-cases,total-deaths,cases-dec-2020,deaths-dec-2020
0,Alabama,Autauga,55036.0,27823.92,13.76,645935,9042,108652,1355
1,Alabama,Baldwin,203360.0,29364.37,11.87,2003567,23041,348455,4502
2,Alabama,Barbour,26201.0,17561.09,26.87,268771,4077,40753,931
3,Alabama,Bibb,22580.0,20911.18,14.92,261043,5272,47009,1244
4,Alabama,Blount,57667.0,22020.72,15.60,630106,8669,121270,1590
...,...,...,...,...,...,...,...,...,...
3063,Wyoming,Sweetwater,44527.0,31699.95,12.08,323730,2239,78122,412
3064,Wyoming,Teton,22923.0,49200.63,6.84,305376,617,59845,67
3065,Wyoming,Uinta,20758.0,27114.84,14.82,200783,1037,41859,201
3066,Wyoming,Washakie,8253.0,27344.99,12.87,84354,2622,20107,350
3067,Wyoming,Weston,7117.0,30954.89,14.31,56976,286,13656,62

In [19]:
# COVID total cases vs. % population in poverty
total_cases = (us_df['total-cases'] * 100000) / us_df['TotalPop']
r = total_cases.corr(us_df['Poverty'])
print(f'r = {r}')

# COVID total deaths vs. % population in poverty
total_deaths = (us_df['total-deaths'] * 100000) / us_df['TotalPop']
r = total_deaths.corr(us_df['Poverty'])
print(f'r = {r}')

# COVID total cases vs. Per Capita Income level
total_cases = (us_df['total-cases'] * 100000) / us_df['TotalPop']
r = total_cases.corr(us_df['IncomePerCap'])
print(f'r = {r}')

# COVID total deaths vs. Per Capita Income level
total_deaths = (us_df['total-deaths'] * 100000) / us_df['TotalPop']
r = total_deaths.corr(us_df['IncomePerCap'])
print(f'r = {r}')

# COVID cases during December 2020 vs. % population in poverty
total_cases_dec_2020 = (us_df['cases-dec-2020'] * 100000) / us_df['TotalPop']
r = total_cases_dec_2020.corr(us_df['Poverty'])
print(f'r = {r}')

# COVID deaths during December 2020 vs. % population in poverty
total_deaths_dec_2020 = (us_df['cases-dec-2020'] * 100000) / us_df['TotalPop']
r = total_deaths_dec_2020.corr(us_df['Poverty'])
print(f'r = {r}')

# COVID cases during December 2020 vs. Per Capita Income level
total_cases_dec_2020 = (us_df['cases-dec-2020'] * 100000) / us_df['TotalPop']
r = total_deaths_dec_2020.corr(us_df['IncomePerCap'])
print(f'r = {r}')

r = 0.19742929493170183
r = 0.26803430608102446
r = -0.21366063002097785
r = -0.17345835459087575
r = 0.07035278331532802
r = 0.07035278331532802
r = -0.1593355765234985